<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Randomizer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app_basic">
        <v-app>
            <v-container>
                <v-card elevation="4" outlined>
                    <v-card-title>Randomizer</v-card-title>
                    <v-card-text>
                        <v-list dense>
                            <v-list-item v-for="(item, index) in list" @click="deleteItem(index)">
                                <v-list-item-content>
                                    <v-list-item-title>{{ item }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        <v-text-field label="New item" v-model="newItem" v-on:keyup.enter="addElement()"></v-text-field>
                        <v-text-field label="Result" v-model="selectedItem"></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn text outlined @click="addElement()">
                            Add
                        </v-btn>
                        <v-btn text outlined @click="selectItem()">
                            Select
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-container>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue(
            {
                vuetify: new Vuetify(),
                el: '#app_basic',
                data: {
                    newItem: '',
                    selectedItem: '',
                    list: []
                },
                methods: {
                    addElement: function () {
                        if (!this.newItem) return;
                        this.list.push(this.newItem);
                        this.newItem = "";
                    },
                    selectItem: function () {
                        this.selectedItem = this.list[Math.floor(Math.random() * this.list.length)]
                    },
                    deleteItem: function (index) {
                        this.list.splice(index, 1);
                    }
                }
            });
    </script>
</body>

</html>